.container{
    width: /0px;
    height: /00px;
    margin: solid;
    margin top: 100px;
    background-color: withe;
    border: 1px solid yellow;
    border-radius: 5px;
}
.menu {
    float:left;
}
h1 {
    text-align: center 
}