.container {
    margin: auto;
    margin-top: 5px;
    background-color: rgb(255, 255, 255)
}

img {
    width: 550px;
}

.menu {
    float: left;
    background-color: rgb(56, 55, 55);
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    /*border: gray 2px solid;*/
    border-radius: 15px;

}

.ul, a {
    color: rgb(255, 255, 255);
}

li {
    list-style-type: none;
    line-height: 30px;
    border-bottom: rgb(0, 0, 0);
}

ul li:last-child{
    border-bottom: none
}

.tartalom> img {
    width: 150px;
    margin: auto;
}
