html {
    margin-top: 0px;
    background-color: rgb(234, 234, 234);
    margin-right: 50px;
    margin-left: 0px;
}

.menu {
    float: left;
    background-color: rgb(67, 67, 67);
    width: 400px;
}

.menu > img {
    width: 400px;
}

hr{
    border: 1px inset #505050;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    border-radius: 15px;

}

.ul, a {
    color: rgb(255, 255, 255);
}

li {
    list-style-type: none;
    line-height: 30px;
    border-bottom: rgb(0, 0, 0);
}

ul li:last-child{
    border-bottom: none
}

.tartalom {
    text-align: center;
    font-size: 20px;
}

.golyo{
    width: 100px;
}
    
    /*Érdekes történet css kezdete*/
.alcim {
    text-align: left;
    text-indent: 50px;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.tortenet{
    text-align: left;
    position:relative;
    left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
}

.at {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.leggyh2{
    font-size: 40px;
    font-family: arial;
    font-weight: bold;
}
    /*Érdekes történet css vége*/